{% extends 'base_layout.html' %}

{% block content%}
    <div class="MyReservations">

        <table class="reserved">
            <th>Class</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Day Of Week</th>
            <th>Reservation Date</th>
            <th>Status</th>

            {% if reservations %}
                {% for i in reservations %}
                    <tr>
                        <td>{{i.classReserved.className}}</td>
                        <td>{{i.classReserved.startTime}}</td>
                        <td>{{i.classReserved.endTime}}</td>
                        <td>{{i.classReserved.dayOfWeek}}</td>
                        <td>{{i.classDate}}</td>
                        <td>{{i.reservationStatus}}</td>
                        <td>
                            <form class=cancel-form action="{% url 'reservations:myReservations' %}" method="post">
                                {% csrf_token %}
                                <input name="reservationId" type="hidden" value="{{i.id}}"></input>
                                <input type="submit" value="Cancel"></input>
                            </form> 
                        </td>  
                    </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="6">No Reservations Made</td>  
            </tr>
            {% endif %}            

            
        </table>
    </div>
  
{% endblock %}