{% extends 'base_layout.html' %}

{% block content%}
    <h1>Reserve Spot in a Fitness Class</h1>
    <div class="reserve">
        <div class="reservationStub">
            <h2> Confirm Reservation </h2>
            <form action="{% url 'reservations:submission' %}" method="post">
                {% csrf_token %}

                <h3>{{className}}</h3>
                <h3>{{instructorName}}</h3>
                <h3>{{startTime}} - {{endTime}}</h3>
                <h3>Todays Date = {{today}}</h3>


                <input name="className" type="hidden" value="{{className}}"></input>
                <input name="startTime" type="hidden" value="{{startTime}}"></input>
                <input name="endTime" type="hidden" value="{{endTime}}"></input>
                <input name="instructorName" type="hidden" value="{{instructorName}}"></input>
                <input name="dayOfWeek" type="hidden" value="{{dayOfWeek}}"></input>

                <input name="classId" type="hidden" value="{{classId}}"></input>
                <input name="classDate" type="hidden" value="{{classDate}}"></input>  
                <input name="date" type="hidden" value="{{today}}"></input>

                {% if duplicate == False %}
                    <input type="submit" value="Reserve">
                {% endif %}
            </form>            
            <input type="button" value="Cancel" onclick="history.back()">
        </div><br/>
        <div class="availabilityTable">
            <table>
                <caption>{{classDate}}</caption>
                <th> {{availabilityTitle}}</th>
                <tr>
                    <td>{{available}}</td>
                </tr>
            </table>
        </div>
    </div><br/>
{% endblock %}