{% extends 'base_layout.html' %}

{% block content%}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-4 mt-2 text-center">
                <h2>Confirm Reservation</h2>
            </div>
        </div>
    </div>

    <div class="reserve">
        <div class="flex-child">
            <form id="reserve-form" action="{% url 'reservations:submission' %}" method="post">
                {% csrf_token %}

                <h3>{{className}}</h3>
                <h5>{{instructorName}}</h5>
                <h6>{{startTime}} - {{endTime}}</h6>
                <h6>Todays Date = {{today}}</h6>

                <input name="className" type="hidden" value="{{className}}"></input>
                <input name="startTime" type="hidden" value="{{startTime}}"></input>
                <input name="endTime" type="hidden" value="{{endTime}}"></input>
                <input name="instructorName" type="hidden" value="{{instructorName}}"></input>
                <input name="dayOfWeek" type="hidden" value="{{dayOfWeek}}"></input>

                <input name="classId" type="hidden" value="{{classId}}"></input>
                <input name="classDate" type="hidden" value="{{classDate}}"></input>  
                <input name="date" type="hidden" value="{{today}}"></input>
            
            {% if classPassedFlag == False %}
                </form>
                <p id="duplicate-message">{{classPassedMessage}}</p>
                <p>
                    <form action="{% url 'reservations:myReservations' %}">
                        <input type="submit" value="View Reservations"/>
                    </form>
                </p>
            {% else %}
                {% if duplicate == False %}
                    <p><input type="submit" value="Reserve"></p>
                    </form>
                {% else %}
                    </form>
                    <p id="duplicate-message">{{duplicateMessage}}</p>
                    <p>
                        <form action="{% url 'reservations:myReservations' %}">
                            <input type="submit" value="View Reservations"/>
                        </form>
                    </p>
                {% endif %}            
            {% endif %}
            <input type="button" value="Return to Class Schedule" onclick="history.back()">
        </div>
        <div class="flex-child">
            <table id="availability-table">
                <th>{{availabilityTitle}} on <br/>{{classDate}}</th>
                <tr>
                    <td>{{available}}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}