{% extends 'base_layout.html' %}

{% block content%}

    {% if flag == True %}
        <table>
            <th>Classes Offered</th>
            <tr>
                {% for k,v in classList.items %}
                <td>
                    <form class="staff-class-selection" action="{% url 'reservations:staffReservations' %}" method="post">
                    {% csrf_token %}
                        <p>{{v.className}}</p>
                        <p>{{v.dayOfWeek}}</p>
                        <p>{{v.startTime}}</p>
                        <input name="classId" type="hidden" value="{{k}}"></input>
                        <button type="submit">View Reservations</button>             
                    </form>
                </td>
                {% endfor %}
            </tr>
        </table>
        {{statement}}
    {% else %}
        <table>
            <h2>Reserved List</h2>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Date Reserved</th>
            {% if reservedCounter > 0 %}
                {% for k, v in reservedList.items %}
                    <tr>
                        <td>
                            {{v.customerReserving.firstName}}
                        </td>
                        <td>
                            {{v.customerReserving.lastName}}
                        </td>
                        <td>
                            {{v.customerReserving.firstName}}
                        </td>                                        
                    </tr>
                {% endfor %}
            {% else %}
                <p> No reservations made for this class</p>
            {% endif %}
        </table>
        <table>
            <th>OverDraft List</th>
            {% if overDraftCounter > 0 %}
                {% for k, v in overDraftList.items %}
                    <tr>
                        <td>
                            {{v}}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <p> No over draft for this class</p>
            {% endif %}
        </table>
        <table>
            <th>Wait List</th>
            {% if waitListCounter > 0 %}
                {% for k, v in waitList.items %}
                    <tr>
                        <td>
                            {{v}}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <p> No wait list for this class</p>
            {% endif %}
        </table>        
        {{statement}}
    {% endif %}
{% endblock %}

