{% extends 'base_layout.html' %}

{% block content%}

    <div class="table-holder">
            {% if flag == True %}
                <div class="classes-table">
                    <table class="table table-bordered">
                        <tr>
                            <th colspan="100%">Classes Offered</th>
                        </tr>
                        <tr>
                            <th>Day</th>
                            <th>Class Name</th>
                            <th>Instructor</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th></th>
                        </tr>
                        {% for k,v in classList.items %}
                            <tr>
                                <td>{{v.dayOfWeek}}</td>
                                <td>{{v.className}}</td>
                                <td>{{v.instructorName}}</td>
                                <td>{{v.startTime}}</td>
                                <td>{{v.endTime}}</td>
                                <td>
                                    <form class="staff-class-selection" action="{% url 'reservations:staffReservations' %}" method="post">
                                    {% csrf_token %}
                                        <input name="classId" type="hidden" value="{{k}}"></input>
                                        <input type="submit" value="View Reservation"/>  
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>    
            {% else %}

                <div class="reservations-table">
                    <table class="table table-bordered">
                        <tr>
                            <th colspan="100%">Reserved List</th>
                        </tr>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Phone Number</th>
                            <th>Date Reserved</th>
                        </tr>
                        {% if reservedCounter > 0 %}
                            {% for k, v in reservedList.items %}
                                <tr>
                                    <td>
                                        {{v.customerReserving.firstName}}
                                    </td>
                                    <td>
                                        {{v.customerReserving.lastName}}
                                    </td>
                                    <td>
                                        {{v.customerReserving.phoneNumber}}
                                    </td>
                                    <td>
                                        {{v.reservationDate}}
                                    </td>                                    
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>No Reservations</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>

                {% if overDraftCounter > 0 %}
                    <div class="reservations-table">
                        <table class="table table-bordered">
                            <tr>
                                <th colspan="100%">Overdraft List</th>
                            </tr>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Phone Number</th>
                                <th>Date Reserved</th>
                            </tr>
                            {% if overDraftCounter > 0 %}
                                {% for k, v in overDraftList.items %}
                                    <tr>
                                        <td>
                                            {{v.customerReserving.firstName}}
                                        </td>
                                        <td>
                                            {{v.customerReserving.lastName}}
                                        </td>
                                        <td>
                                            {{v.customerReserving.phoneNumber}}
                                        </td>
                                        <td>
                                            {{v.reservationDate}}
                                        </td>                                    
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="100%">No Over Draft Reservations</td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                {% endif %}

                <div class="reservations-table">
                    <table class="table table-bordered">
                        <tr>
                            <th colspan="100%">Wait List</th>
                        </tr>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Phone Number</th>
                            <th>Date Reserved</th>
                        </tr>
                        {% if waitListCounter > 0 %}
                            {% for k, v in waitList.items %}
                                <tr>
                                    <td>
                                        {{v.customerReserving.firstName}}
                                    </td>
                                    <td>
                                        {{v.customerReserving.lastName}}
                                    </td>
                                    <td>
                                        {{v.customerReserving.phoneNumber}}
                                    </td>
                                    <td>
                                        {{v.reservationDate}}
                                    </td>                                    
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="100%">No Waitlisted Reservations</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            {% endif %}
    </div>


{% endblock %}

