{% extends 'base_layout.html' %}
{% load widget_tweaks %}

{% block content%}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            {% if request.user.is_staff %}
                <h2>Create Customer Account</h2>
            {% else %}
                <h2>Sign Up</h2>
            {% endif %}
        </div>
    </div>
    <div class="row formbox1">
            <div class="col-md-6 col-12 left-halfpage">
                    <form class=signup-form1 action="{% url 'accounts:signup' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <label>Phone Number: </label>         
                        <input type="tel" required id="phoneNumber" name="phoneNumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Phone: 123-123-1234">
            </div>
            <div class="col-md-6 col-12  mt-md-0 mt-2 right-halfpage">   
                        {% csrf_token %}
            <div class="centered-button">
                <input class="create-button" type="submit" value="Create Account">
            </div>
        </form>
    </div>     
</div>
</div>
{{statement}}

{% endblock %}