{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Ida Reserve</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
           
    <body>
        <header>
            <a href = "{% url 'fitnessClass:schedule' %}">
                <img src="{% static 'logo.jfif' %}" alt="Schedule">
            </a>
            <nav> 
                <ul>
                    {% if user.is_authenticated %}
                        {% if user.is_staff %}
                            <li>
                                <form class="staffReservations" action="{% url 'reservations:staffReservations' %}" method="get">
                                    {% csrf_token %}
                                    <button type="submit">Staff Reservation View</button>
                                </form>
                            </li>    
                        {% else %}                    
                            <li>
                                <form class="myReservations" action="{% url 'reservations:myReservations' %}" method="get">
                                    {% csrf_token %}
                                    <button type="submit">My Reservations</button>
                                </form>
                            </li>
                        {% endif %} 
                        <li>
                            <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Logout</button>
                            </form>
                        </li>                                                           
                    {% else %}
                    <li>
                        <form class="login-link" action="{% url 'accounts:login' %}" method="get">
                            {% csrf_token %}
                            <button type="submit">Login</button>
                        </form>
                    </li>
                    <li>
                        <form class="signup-link" action="{% url 'accounts:signup' %}" method="get">
                            {% csrf_token %}
                            <button type="submit">Signup</button>
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </nav>                        
        </header>        
       
        <div class="wrapper">    
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>