<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IDA LEE RESERVATION</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap-4.4.1.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-logo">
	<img class="logo" src="{% static 'images/logo.png' %}" alt="logo" />
      <a class="navbar-brand logotext" href="#"></a>
      <button class="navbar-toggler red-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
            {% if user.is_staff %}
              <a class="nav-link menutext" href="{% url 'reservations:staffReservations' %}">STAFF RESERVATION VIEW</a> </li>  
            {% else %}   
              <a class="nav-link menutext" href="{% url 'reservations:myReservations' %}">VIEW RESERVATIONS</a> </li>  
            {% endif %} 
              <a class="nav-link menutext" href="{% url 'accounts:logout' %}">LOG OUT</a> </li>                                                          
            {% else %}
                <a class="nav-link menutext" href="{% url 'accounts:login' %}">LOG IN</a>
            {% endif %}   
        </ul>
	  <button class="btn btn-outline-success my-2 my-sm-0 loginbtn" type="submit">Login</button>
	  <button class="btn btn-outline-success my-2 my-sm-0 navbutton" type="submit">Sign Up</button>
      </div>
    </nav>
    <header>
      <!--div class="jumbotron"-->
        <div class="banner" >
          <div class="row">
            <div class="col-lg-12 mb-4 mt-2 text-center"><img class="imgmax" src="images/int_top.jpg" alt="banner" /></div>
          </div>
        </div>
      <!--/div-->
    </header>
	  <!--- body starts here -->
    <section>
      <div>
        <div class="row">
          <div class="col-lg-12 mb-4 mt-2 text-center">
            <h2> Ida Lee Reservation App</h2>
          </div>
        </div>
      </div>
      
	  <!-- end body -->
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p>60 Ida Lee Drive, NW | Leesburg, VA 20176 | 703-777-1368</p>
			<p>CREATED BY MATT KRISHNAN FOR IT CAPSTONE</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="js/jquery-3.4.1.min.js"></script> 
    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="js/popper.min.js"></script> 
    <script src="js/bootstrap-4.4.1.js"></script>
  </body>
</html>